﻿@model WebSite.Models.TransactionViewModels.CreateTransactionViewModel

@{
    ViewData["Title"] = "View";
}

<h2>Transacciones</h2>

<h4>Crear</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TransactionType" class="control-label"></label>
                <input asp-for="TransactionType" class="form-control" />
                <span asp-validation-for="TransactionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountOrigId" class="control-label"></label>
                <input asp-for="AccountOrigId" class="form-control" />
                <span asp-validation-for="AccountOrigId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountDestId" class="control-label"></label>
                <input asp-for="AccountDestId" class="form-control" />
                <span asp-validation-for="AccountDestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
