﻿@model WebSite.Models.TransactionViewModels.TransactionSearchResultsViewModel

@{
    ViewData["Title"] = "Search Transactions";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Register Transaction</a>
</p>

@{ Html.RenderPartial("SearchFilters", Model.searchFilters); }


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.searchFilters.AccountDestinationNameFilter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.searchFilters.TransactionDateFilter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.searchFilters.IsFraudFilter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.lstTransactionsSearchResults)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountDestinationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFraud)
                </td>
                <td>
                    @Html.ActionLink("Toggle Fraud Flag", "FlagToggle", new { /* id=item.PrimaryKey */ }) |
                </td>
            </tr>
        }
    </tbody>
</table>
