﻿@model WebSite.Models.TransactionViewModels.TransactionSearchFiltersViewModel

<h4>Transaction Search Filters</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchFilters">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountDestinationNameFilter" class="control-label"></label>
                <label>
                    <input asp-for="AccountDestinationNameFilter" />
                </label>
                <label asp-for="TransactionDateFilter" class="control-label"></label>
                <input asp-for="TransactionDateFilter" class="form-control" />
                <span asp-validation-for="TransactionDateFilter" class="text-danger"></span>
                <label asp-for="IsFraudFilter" class="control-label"></label>
                <label>
                    <input asp-for="IsFraudFilter" />
                </label>
            </div>
            @*
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsFlaggedFraudFilter" /> @Html.DisplayNameFor(model => model.IsFlaggedFraudFilter)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            *@
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
